[Unit]
Description=Database creation for kanban stats
Requires=influxdb09@1.service
After=influxdb09@1.service

[Service]
Type=oneshot
Environment="REGISTRY=docker.cloud.nlab.io"
Environment="IMAGE=kanban-stats"
Environment="RELEASE=0.1"

ExecStartPre=/usr/bin/printf "Pulling docker image ${REGISTRY}/${IMAGE}:${RELEASE}"
ExecStartPre=/usr/bin/flock /home/core/pull.lock /usr/bin/timeout 5m /usr/bin/docker pull ${REGISTRY}/${IMAGE}:${RELEASE}
ExecStart=/usr/bin/printf "Creating InfluxDB database for Trello stats"
ExecStart=/usr/bin/docker run --rm=true --entrypoint="/opt/influxdb/influx" \
  ${REGISTRY}/${IMAGE}:${RELEASE} -host influxdb09 -execute='CREATE DATABASE "trello"'

[X-Fleet]
MachineMetadata="role=control"
MachineOf=influxdb09@1.service

[Install]
WantedBy=multi-user.target
