[X-Fleet]
MachineOf=trello-stats.service

[Unit]
Description=Runs trello-stats collector service

[Timer]
OnCalendar=daily
Unit=daily_trello.service
Persistent=true

[Install]
WantedBy=multi-user.target